<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.chompapps.io.cex"
        versionCode = "2" 
        version     = "1.0.2" >

    <name>Cex.io Client</name>

    <description>
        A Cex.io client app.
    </description>
    <preference name="permissions" value="none"/>
    <icon src="icon.png" width="512" height="512"/>
    <preference name="phonegap-version" value="3.1.0"/>
    <gap:plugin name="com.verso.cordova.clipboard" version="0.1.0" />
    <!--<gap:plugin name="com.phonegap.plugins.barcodescanner" />-->
    <access origin="*"/>

</widget>